*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(231, 246, 251);
    font-family: 'Playpen Sans', cursive;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 80px;
    width: 25%;
    display: flex;
}
.nav-logo img{
    height: 70px;
    width: 70px;
}
.nav-logo h2{
    color: #20BC7E;
    font-weight: 900;
    font-size: 2.25rem;
    margin-top: 10px;
    margin-left: 15px;
}

/* Navigation Bar Row 2 */
.nav2{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav2 ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav2 a{
    text-decoration: none;
}
.nav2 li{
    font-size: 1.5rem;
    margin-left: 60px;
}
.pageHolder{
    font-weight: 700;
}

/* Secrion Part */
section{
    margin: 20px;
    display: flex;
    justify-content: center;
}
form{
    height: max-content;
    width: 350px;
    box-shadow: 0 0 10px gray;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
h1{
    margin: 10px 0 25px 0;
    text-align: center;
    color: #008d54;
}
input{
    background-color: #ffffff;
    border: transparent;
    margin: 5px 0 11px 0;
    padding: 5px 15px;
    font-size: 0.85rem;
    border-radius: 10px;
}
textarea{
    background-color: #ffffff;
    border: transparent;
    margin: 5px 0 11px 0;
    padding: 5px 15px;
    font-size: 0.85rem;
    border-radius: 10px;
}
button{
    padding: 10px;
    border: transparent;
    background-color: #20BC7E;
    font-weight: 700;
    font-size: 1.15rem;
    border-radius: 10px;
    margin-top: 15px;
}
button:hover{
    color: #20BC7E;
    background-color: white;
    cursor: pointer;
    transition-duration: 1s;
    border: 1px solid black;
}