*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   background-color: rgb(217, 235, 251);
}
img:hover{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo{
    display: flex;
    gap: 10px;
}
nav img{
    height: 40px;
    width: 50px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
nav h1{
    font-size: 35px;
    font-weight: 900;
}
nav ul li a:hover{
    text-decoration: underline;
}
h1:hover{
    cursor: pointer;
}
section{
    height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 350px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form div{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 2px;
}
form div textarea{
    resize: none;
    height: 100px;
    border: transparent;
    padding: 5px 10px;
}
form div input{
    border: transparent;
    padding: 5px 10px;
}
form{
    padding: 30px;
}
section h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: black;
}
section button{
    background-color:  #20BC7E;
    color: white;
    padding: 15px 17%;
    margin-top: 5x;
    font-size: 18px;
    font-weight: 900;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}
section button:hover{
    background-color: white;
    color: #20BC7E;
    border: 1px solid black;
}
