*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   background-color: rgb(217, 235, 251);
}
img:hover{
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo{
    display: flex;
    gap: 10px;
}
nav img{
    height: 40px;
    width: 50px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
h1:hover{
    cursor: pointer;
}
section{
    display: flex;
    justify-content: space-around;
}
section img{
    border-radius: 30px;
    height: 60vh;
    width: 60vh;
}
section h1{
    font-size: 35px;
    font-weight: 900;
}
section p{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}
section button{
    width: fit-content;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #20BC7E;
    color: white;
    font-size: 18px;
    font-weight: 900;
}
section button:hover{
    background-color: #fff;
    color: black;
    cursor:grab;
}